<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
	
<div class="modal fade product_view" id="newCard">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3>Agregar Tarjeta</h3>
					</div>
					<div class="modal-body">
						<div class="row">
							
							<div class="col-sm-12 col-md-12">
								<b>Numero tarjeta:</b>
							</div>
							<div class="col-xs-3 col-md-3">
								<h:inputText styleClass="form-control"
									value="#{clientBean.num1}" maxlength="4" placeholder="XXXX" />
							</div>
							<div class="col-xs-3 col-md-3">
								<h:inputText styleClass="form-control"
									value="#{clientBean.num2}" maxlength="4" placeholder="XXXX" />
							</div>
							<div class="col-xs-3 col-md-3">
								<h:inputText styleClass="form-control"
									value="#{clientBean.num3}" maxlength="4" placeholder="XXXX" />
							</div>
							<div class="col-xs-3 col-md-3">
								<h:inputText styleClass="form-control"
									value="#{clientBean.num4}" maxlength="4" placeholder="XXXX" />
							</div>
							
							<div class="col-sm-6 col-md-6">
								<b>Tipo tarjeta:</b>
							</div>
							
							<div class="col-sm-6 col-md-6">
								<b>Código CCV:</b>
							</div>
							
							<div class="col-sm-6 col-md-6">
								<h:inputText styleClass="form-control"
										value="#{clientBean.card.type}" maxlength="50"
										placeholder="XXXX" />
							</div>
							
							<div class="col-sm-6 col-md-6">
								<h:inputText styleClass="form-control"
										value="#{clientBean.card.ccv}" maxlength="4"
										placeholder="XXXX" />
							</div>
							
							<div class="col-sm-12 col-md-12">
								<h:outputText value="&#160;" />
							</div>
							
							<div class="col-sm-12 col-md-12">
								<p:commandLink
									styleClass="subscribe btn btn-success btn-lg btn-block"
									value="Guardar tarjeta" action="#{clientBean.saveCard}"
									update="formPlantilla" onclick="cerrar()">

								</p:commandLink>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
</html>