<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
	
<div class="modal fade product_view" id="deleteConsumption">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3>¿Está seguro(a) de eliminar este consumo?</h3>
					</div>
					<div class="modal-body">
						<div class="row">
							
							
							<div class="col-sm-6 col-md-6">
								<p:commandLink
									styleClass="subscribe btn btn-success btn-lg btn-block" 
									value="Si" action="#{clientBean.deleteConsumption}"
									update="formPlantilla" onclick="cerrar()">
								</p:commandLink>
							</div>
							<div class="col-sm-6 col-md-6">
								<p:commandLink
									styleClass="subscribe btn btn-danger btn-lg btn-block" 
									value="No"
									update="formPlantilla" onclick="cerrar()">
								</p:commandLink>
							</div>
					</div>
				</div>
			</div>
		</div>
		</div>

		</html>