<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
	
<div class="modal fade product_view" id="editAsesor">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3>Editar Asesor</h3>
					</div>
					<div class="modal-body">
					<h:panelGroup id="panelAsesor">
						<div class="row">
							
							<div class="col-sm-6 col-md-6">
								<b>Nombre:</b>
							</div>
							<div class="col-sm-6 col-md-6">
								<p:inputText styleClass="form-control" value="#{clientBean.asesorEdit.name}" maxlength="50" placeholder="Nombre del Asesor" />
							</div>
							<div class="col-sm-6 col-md-6">
								<b>Especialidad:</b>
							</div>
							<div class="col-sm-6 col-md-6">
								<p:inputText styleClass="form-control" value="#{clientBean.asesorEdit.speciality}" maxlength="55" placeholder="Descripción especialidad" />
							</div>
							
							<div class="col-sm-12 col-md-12">
								<h:outputText value="&#160;" />
							</div>
							
							<div class="col-sm-12 col-md-12">
								<p:commandLink
									styleClass="subscribe btn btn-warning btn-lg btn-block"
									value="Guardar cliente" action="#{clientBean.editAsesor}"
									update="formPlantilla" onclick="cerrar()">
								</p:commandLink>
							</div>							
						</div>
						</h:panelGroup>
					</div>
				</div>
			</div>
		</div>
		</html>