<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
	
<div class="modal fade product_view" id="editCard">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3>Editar Tarjeta</h3>
					</div>
					<div class="modal-body">
						<h:panelGroup id="panelEdit">
							<div class="row">

								<div class="col-sm-12 col-md-12">
								<b>Numero tarjeta:</b>
							</div>
							<div class="col-xs-3 col-md-3">
								<h:inputText styleClass="form-control"
									value="#{clientBean.num1e}" maxlength="4" placeholder="XXXX" />
							</div>
							<div class="col-xs-3 col-md-3">
								<h:inputText styleClass="form-control"
									value="#{clientBean.num2e}" maxlength="4" placeholder="XXXX" />
							</div>
							<div class="col-xs-3 col-md-3">
								<h:inputText styleClass="form-control"
									value="#{clientBean.num3e}" maxlength="4" placeholder="XXXX" />
							</div>
							<div class="col-xs-3 col-md-3">
								<h:inputText styleClass="form-control"
									value="#{clientBean.num4e}" maxlength="4" placeholder="XXXX" />
							</div>
							
							<div class="col-sm-6 col-md-6">
								<b>Tipo tarjeta:</b>
							</div>
							
							<div class="col-sm-6 col-md-6">
								<b>Código CCV:</b>
							</div>
							
							<div class="col-sm-6 col-md-6">
								<h:inputText styleClass="form-control"
										value="#{clientBean.cardEdit.type}" maxlength="50"
										placeholder="XXXX" />
							</div>
							
							<div class="col-sm-6 col-md-6">
								<h:inputText styleClass="form-control"
										value="#{clientBean.cardEdit.ccv}" maxlength="4"
										placeholder="XXXX" />
							</div>
							
							<div class="col-sm-12 col-md-12">
								<h:outputText value="&#160;" />
							</div>
							
							<div class="col-sm-12 col-md-12">
								<p:commandLink
										styleClass="subscribe btn btn-warning btn-lg btn-block" 
										value="Editar tarjeta" action="#{clientBean.editCard}"
										update="formPlantilla" onclick="cerrar()">

									</p:commandLink>
							</div>

							</div>
						</h:panelGroup>
					</div>
				</div>
			</div>
		</div>

		</html>