<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
	
<div class="modal fade product_view" id="editClient">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3>Editar Cliente</h3>
					</div>
					<div class="modal-body">
					<h:panelGroup id="panelClient">
						<div class="row">
							
							<div class="col-sm-6 col-md-6">
								<b>Nombre:</b>
							</div>
							<div class="col-sm-6 col-md-6">
								<p:inputText styleClass="form-control" value="#{clientBean.clientEdit.name}" maxlength="50" placeholder="Nombre completo" />
							</div>
							<div class="col-sm-6 col-md-6">
								<b>Dirección:</b>
							</div>
							<div class="col-sm-6 col-md-6">
								<p:inputText styleClass="form-control" value="#{clientBean.clientEdit.address}" maxlength="100" placeholder="Ejemplo: Cll XX" />
							</div>
							<div class="col-sm-6 col-md-6">
								<b>Ciudad:</b>
							</div>
							<div class="col-sm-6 col-md-6">
								<p:inputText styleClass="form-control" value="#{clientBean.clientEdit.city}" maxlength="30" placeholder="Ejemplo: Medellín" />
							</div>
							<div class="col-sm-6 col-md-6">
								<b>Teféfono:</b>
							</div>
							<div class="col-sm-6 col-md-6">
								<p:inputText styleClass="form-control" value="#{clientBean.clientEdit.phone}" maxlength="20" placeholder="3136090247" />
							</div>
							
							<div class="col-sm-12 col-md-12">
								<h:outputText value="&#160;" />
							</div>
							
							<div class="col-sm-12 col-md-12">
								<p:commandLink
									styleClass="subscribe btn btn-warning btn-lg btn-block" 
									value="Editar cliente" action="#{clientBean.editClient}"
									update="formPlantilla" onclick="cerrar()">
								</p:commandLink>
							</div>							
						</div>
						</h:panelGroup>
					</div>
				</div>
			</div>
		</div>

		</html>