<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
	
<h:head>
	<meta charset="utf-8" />


	<link href="../css/style.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"/>
	
	<!-- Bootstrap core CSS     -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="../assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="../assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="../assets/css/demo.css" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="../assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    
    <script src="../js/script.js"></script>
    

</h:head>
<h:body>
<div class="wrapper">
    <div class="sidebar" data-color="green" data-image="../assets/img/sidebar-5.jpg">

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    Test Cinte - IBM
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="index.xhtml">
                        <i class="pe-7s-graph"></i>
                        <p>Clientes</p>
                    </a>
                </li>
                <li class="active">
                    <a href="asesores.xhtml">
                        <i class="pe-7s-user"></i>
                        <p>Asesores</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                
                
                <h:form id="formPlantilla">
                
                <p:growl id="growl" showDetail="true" escape="false" />
                
                <ui:include src="/popup/addAsesor.xhtml"></ui:include>
								<ui:include src="/popup/editAsesor.xhtml"></ui:include>
								<ui:include src="/popup/deleteAsesor.xhtml"></ui:include>
								
								<a id="btnAsesorEdit" href="#" data-toggle="modal" data-target="#editAsesor"></a>
								<a id="btnAsesorDelete" href="#" data-toggle="modal" data-target="#deleteAsesor"></a>
								
							 <div class="row">
					<div class="col">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-sm-6 col-md-6">
										<h5 class="card-title">Asesores</h5>
										<a id="btnNewAsesor" href="#" data-toggle="modal" class="btn btn-primary" data-target="#newAsesor">
											<i class="fas fa-plus-square"></i> Agregar
										</a>
									</div>
								</div>
								<table class="table">
									<thead>
										<tr>
											<th scope="col">#</th>
											<th scope="col">Acción</th>
											<th scope="col">Nombre</th>
											<th scope="col">Especialidad</th>
										</tr>
									</thead>
									<tbody>
										<ui:repeat value="#{clientBean.asesores}" var="pos" varStatus="loopLab">

											<tr>
												<th scope="row">#{loopLab.index+1}</th>
												<td>											
													<p:commandLink onclick="abrirEditarAsesor()" update="formPlantilla:panelAsesor"
																					styleClass="btn btn-warning">
															<i class="fas fa-edit" ></i>
														<f:setPropertyActionListener target="#{clientBean.asesorEdit}" value="#{pos}" />
													</p:commandLink>
													
													<h:outputText value="&#160;" />
													
													<p:commandLink onclick="openDeleteAsesor()"	styleClass="btn btn-danger">
															<i class="fas fa-trash-alt" ></i>
														<f:setPropertyActionListener target="#{clientBean.asesor}" value="#{pos}" />
													</p:commandLink>
													
													
												</td>
												<td>#{pos.name}</td>
												<td>#{pos.speciality}</td>
											</tr>
										</ui:repeat>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
              </h:form>  
                
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </div>
        </footer>

    </div>
</div>


</h:body>

    <!--   Core JS Files   -->
    <script src="../assets/js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="../assets/js/bootstrap.min.js" type="text/javascript"></script>
	
	
    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="../assets/js/light-bootstrap-dashboard.js"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<script src="../assets/js/demo.js"></script>

</html>
