<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
	
<h:head>
	<meta charset="utf-8" />


	<link href="../css/style.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"/>
	
	<!-- Bootstrap core CSS     -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="../assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="../assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="../assets/css/demo.css" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="../assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    
    <script src="../js/script.js"></script>
    

</h:head>
<h:body>
<div class="wrapper">
    <div class="sidebar" data-color="green" data-image="../assets/img/sidebar-5.jpg">

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    Test Cinte - IBM
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="index.xhtml">
                        <i class="pe-7s-graph"></i>
                        <p>Clientes</p>
                    </a>
                </li>
                <li>
                    <a href="asesores.xhtml">
                        <i class="pe-7s-user"></i>
                        <p>Asesores</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                
                
                <h:form id="formPlantilla">
                
                <p:growl id="growl" showDetail="true" escape="false" />
                
                <ui:include src="/popup/addClient.xhtml"></ui:include>
		<ui:include src="/popup/editClient.xhtml"></ui:include>
		<ui:include src="/popup/deleteClient.xhtml"></ui:include>
		
		<!-- Popup para agregar y editar Tarjetas -->
		<ui:include src="/popup/addCard.xhtml"></ui:include>
		<ui:include src="/popup/editCard.xhtml"></ui:include>
		
		<!-- Popup para agregar y editar Consumos -->
		<ui:include src="/popup/deleteConsumption.xhtml"></ui:include>

							 <div class="row">
					<div class="col">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-sm-6 col-md-6">
										<h5 class="card-title">Clientes</h5>
										<a id="btnNewClient" href="#" data-toggle="modal" class="btn btn-primary" data-target="#newClient">
											<i class="fas fa-plus-square"></i> Agregar
										</a>
									</div>
								</div>
								<table class="table">
									<thead>
										<tr>
											<th scope="col">#</th>
											<th scope="col">Acción</th>
											<th scope="col">Nombre</th>
											<th scope="col">Dirección</th>
											<th scope="col">Ciudad</th>
											<th scope="col">Telefono</th>
											<th scope="col">Tarjetas</th>
										</tr>
									</thead>
									<tbody>
										<ui:repeat value="#{clientBean.clientes}" var="pos" varStatus="loopLab">

											<tr>
												<th scope="row">#{loopLab.index+1}</th>
												<td>											
													<p:commandLink onclick="abrirEditarClient()" update="formPlantilla:panelClient"
																					styleClass="btn btn-warning">
															<i class="fas fa-edit" ></i>
														<f:setPropertyActionListener target="#{clientBean.clientEdit}" value="#{pos}" />
													</p:commandLink>
													
													<h:outputText value="&#160;" />
													
													<p:commandLink onclick="openDeleteClient()"	styleClass="btn btn-danger">
															<i class="fas fa-trash-alt" ></i>
														<f:setPropertyActionListener target="#{clientBean.client}" value="#{pos}" />
													</p:commandLink>
													
													
												</td>
												<td>#{pos.name}</td>
												<td>#{pos.address}</td>
												<td>#{pos.city}</td>
												<td>#{pos.phone}</td>
												<td>
													<div class="panel panel-default">
														<div>
															<a data-toggle="collapse" data-parent="#accordion"
																href="#collapseThree#{loopLab.index}"
																class="btn btn-primary"><i class="fas fa-credit-card"></i> Ver tarjetas </a>
															<h:outputText value="&#160;" />
															<h:outputText value="&#160;" />

															<p:commandLink styleClass="btn btn-primary"
																onclick="abrirNuevaTarjeta()">
																<i class="fas fa-plus-circle"></i>
																<h:outputText value="&#160;" />
																<i class="fas fa-credit-card"></i>
																<f:setPropertyActionListener
																	target="#{clientBean.card.idClient}"
																	value="#{pos.idClient}" />

															</p:commandLink>

															<a id="btnTrigger" href="#" data-toggle="modal" data-target="#newCard"></a> 
															<a id="btnTriggerEdit" href="#" data-toggle="modal" data-target="#editCard"></a>
															<a id="btnClientEdit" href="#" data-toggle="modal" data-target="#editClient"></a>
															<a id="btnClientDelete" href="#" data-toggle="modal" data-target="#deleteClient"></a>
															<a id="btnConsumptionDelete" href="#" data-toggle="modal" data-target="#deleteConsumption"></a>

														</div>
														<div id="collapseThree#{loopLab.index}"
															class="panel-collapse collapse">
															<div>
																<table class="table">
																	<ui:repeat value="#{pos.cards}" var="posCard"
																		varStatus="loopCard">
																		<tr>
																			<td><h:outputText value="&#160;" />
																				<h:outputText value="&#160;" />
																				<h:outputText value="&#160;" /> 
																				<p:commandLink
																					onclick="abrirEditarTarjeta()"
																					update="formPlantilla:panelEdit"
																					styleClass="btn btn-warning">
																					<i class="fas fa-edit" ></i>
																					<f:setPropertyActionListener
																						target="#{clientBean.cardEdit}" value="#{posCard}" />
																				</p:commandLink> <h:outputText value="&#160;" /> <p:commandLink
																					action="#{clientBean.deleteCard}"
																					update="formPlantilla" styleClass="btn btn-danger">
																					<i class="fas fa-trash-alt" ></i>
																					<f:setPropertyActionListener
																						target="#{clientBean.card}" value="#{posCard}" />
																				</p:commandLink> <a href="#" data-toggle="modal"
																				class="btn btn-primary"
																				data-target="#product_view#{loopLab.index}#{loopCard.index}">
																					<i class="fas fa-eye"></i> #{posCard.number}
																			</a>

																				<div class="modal fade product_view"
																					id="product_view#{loopLab.index}#{loopCard.index}">
																					<div class="modal-dialog">
																						<div class="modal-content">
																							<div class="modal-header">
																								<h3>Historial de Consumos</h3>
																							</div>
																							<div class="modal-body">
																								<div class="row">

																									<div class="col-sm-6 col-md-6">
																										<b>Nombre:</b>
																									</div>
																									<div class="col-sm-6 col-md-6">
																										#{pos.name}</div>
																									<div class="col-sm-6 col-md-6">
																										<b>Dirección:</b>
																									</div>
																									<div class="col-sm-6 col-md-6">
																										#{pos.address}</div>
																									<div class="col-sm-6 col-md-6">
																										<b>Ciudad:</b>
																									</div>
																									<div class="col-sm-6 col-md-6">
																										#{pos.city}</div>
																									<div class="col-sm-6 col-md-6">
																										<b>Teféfono:</b>
																									</div>
																									<div class="col-sm-6 col-md-6">
																										#{pos.phone}</div>
																									<div class="col-sm-6 col-md-6">
																										<b>Número de Tarjeta:</b>
																									</div>
																									<div class="col-sm-6 col-md-6">
																										#{posCard.number}</div>
																									<div class="col-sm-6 col-md-6">
																										<b>CCV:</b>
																									</div>
																									<div class="col-sm-6 col-md-6">
																										#{posCard.ccv}</div>
																									<div class="col-sm-6 col-md-6">
																										<b>Tipo de tarjeta:</b>
																									</div>
																									<div class="col-sm-6 col-md-6">
																										#{posCard.type}</div>

																									<div class="col-sm-12 col-md-12">
																										<h5>Detalle de los consumos</h5>
																									</div>
																									<div class="col-sm-12 col-md-12">
																										<table class="table">
																											<thead>
																												<tr>
																													<th>Fecha</th>
																													<th>Descripción</th>
																													<th>Monto</th>
																													<th>Acción</th>
																												</tr>
																											</thead>
																											<ui:repeat value="#{posCard.consumptions}"
																												var="posCons" varStatus="loopCons">
																												<tr>
																													<td>#{posCons.date}</td>
																													<td>#{posCons.description}</td>
																													<td>#{posCons.amount}</td>
																													<td>
																														<p:commandLink onclick="openDeleteConsumption()"	styleClass="btn btn-danger">
																																<i class="fas fa-trash-alt" ></i>
																															<f:setPropertyActionListener target="#{clientBean.consumption}" value="#{posCons}" />
																														</p:commandLink>
																													</td>
																												</tr>
																											</ui:repeat>

																										</table>

																									</div>

																								</div>
																							</div>
																						</div>
																					</div>
																				</div></td>
																		</tr>
																	</ui:repeat>
																</table>
															</div>
														</div>
													</div>
												</td>
											</tr>
										</ui:repeat>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
              </h:form>  
                
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </div>
        </footer>

    </div>
</div>


</h:body>

    <!--   Core JS Files   -->
    <script src="../assets/js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="../assets/js/bootstrap.min.js" type="text/javascript"></script>
	
	
    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="../assets/js/light-bootstrap-dashboard.js"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<script src="../assets/js/demo.js"></script>

</html>
